<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start me-auto">
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark navbar-color-white" href="/dashboard"> Inicio </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark navbar-color-white" href="/about"> Sobre mi </a>
  </li>
  <!-- ============================================================== -->
  <!-- create new -->
  <!-- ============================================================== -->
  <li class="nav-item d-none d-md-block" ngbDropdown placement="bottom-end">
    <a
      ngbDropdownToggle
      class="nav-link waves-effect waves-dark"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="navbar-color-white">Crear nuevo</span>
    </a>
    <div ngbDropdownMenu>
      <a class="dropdown-item" href="#">Acción</a>
      <a class="dropdown-item" href="#">Otras acciones</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Otras cosas aqui</a>
    </div>
  </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <button *ngIf="!isLoggedIn" id="signinButton"  type="button" class="btn btn-primary" style="margin-top: 10px;" #loginRef (click)="callLogin()">
    <i class="fab fa-google"></i> Iniciar sesión
  </button>
  <li class="nav-item" ngbDropdown placement="bottom-end" *ngIf="isLoggedIn">
    <a
      ngbDropdownToggle
      class="nav-link waves-effect waves-dark pro-pic"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="{{userSession ? userSession.imageUrl : 'assets/images/users/user4.jpg'}}"
        alt="user"
        class="rounded-circle"
        width="31"
      />
      <span class="ms-2 navbar-color-white">{{userSession ? userSession.complete : "Unknown"}}</span>
    </a>
    <div class="dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)"> Mi perfil</a>
      <a class="dropdown-item" href="javascript:void(0)"> Mi balance</a>
      <a class="dropdown-item" href="javascript:void(0)"> Mensajes</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)"> Configuración</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="callLogOut()"> Desconectar</a>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
