.search-results {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.data-card{
  padding: 5px;
  margin: 2px 0px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
