<ion-content [fullscreen]="true" class="body-content-custom">
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div
    id="main-wrapper"
    [ngClass]="{ 'show-sidebar': showMobileMenu }"
    dir="ltr"
    data-theme="light"
    data-layout="vertical"
    [attr.data-sidebartype]="sidebartype"
    data-sidebar-position="absolute"
    data-header-position="absolute"
    data-boxed-layout="full"
  >
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in topbar.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin1">
      <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
        <div
          class="navbar-header"
          [ngClass]="expandLogo ? 'expand-logo' : ''"
          data-logobg="skin6"
        >
          <!-- This is for the sidebar toggle which is visible on mobile only -->
          <!--*ngIf="isDesktop"-->
          <a
            (click)="showMobileMenu = !showMobileMenu"
            class="nav-toggler waves-effect waves-light d-block d-lg-none"
            href="javascript:void(0)"
          >
            <i [ngClass]="showMobileMenu ? 'bi bi-text-left fs-6' : 'bi bi-text-left fs-6'"></i>
          </a>
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="/">
            <h1 class="logo-title-text">MFProject</h1>
            <!-- Logo icon -->
            <!-- <b class="logo-icon">-->
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Light Logo icon -->
              <!-- <img
                src="assets/images/logos/logo-icon.png"
                alt="homepage"
                class="dark-logo"
              />
            </b>-->
            <!--End Logo icon -->
            <!-- Logo text -->
            <!-- <span class="logo-text">-->
              <!-- Light Logo text -->
              <!-- <img
                src="assets/images/logos/logo-text.png"
                class="dark-logo"
                alt="homepage"
              />
            </span>-->
          </a>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Toggle which is visible on mobile only -->
          <!-- ============================================================== -->
          <a
            class="topbartoggler d-block d-lg-none waves-effect waves-light"
            (click)="isCollapsed = !isCollapsed"
          >
            <i class="bi bi-text-right fs-6"></i>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div
          class="navbar-collapse collapse"
          id="navbarSupportedContent"
          data-navbarbg="skin1"
          [ngbCollapse]="!isCollapsed"
        >
          <app-header
            (toggleSidebar)="toggleSidebarType()"
            class="w-100"
          ></app-header>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside
      class="left-sidebar"
      data-sidebarbg="skin6"
      (mouseover)="Logo()"
      (mouseout)="Logo()"
    >
        <app-sidebar></app-sidebar>
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- End Start Page Content -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <!-- <footer class="footer text-center">

      </footer> -->
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- <app-footer></app-footer> -->
</ion-content>
